<h1>Edición de área</h1>

<% form_for(@area, :url => admin_area_path) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name, "Nombre" %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Guardar' %>
  </p>
<% end %>

<%= link_to 'Mostrar', admin_area_path(@area) %> |
<%= link_to 'Atrás', admin_areas_path %>