<h1>Nuevo área</h1>

<% form_for(@area, :url => admin_areas_path) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name, "Nombre" %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Crear' %>
  </p>
<% end %>

<%= link_to 'Atrás', admin_areas_path %>