<p>
  <b>Name:</b>
  <%=h @orchard.name %>
</p>

<p>
  <b>Area:</b>
  <%=h @orchard.area %>
</p>

<p>
  <b>Longitude:</b>
  <%=h @orchard.longitude %>
</p>

<p>
  <b>Latitude:</b>
  <%=h @orchard.latitude %>
</p>

<p>
  <b>Used:</b>
  <%=h @orchard.used %>
</p>


<%= link_to 'Edit', edit_orchard_path(@orchard) %> |
<%= link_to 'Back', orchards_path %>